header#mainheader {
  height: 120px; }
  header#mainheader h1 {
    line-height: 120px; }

#loginwrapper {
  width: 350px;
  height: auto;
  margin: 50px auto; }
  #loginwrapper .fields {
    margin-bottom: 10px; }
